<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.dao.StoreDAO">
    <select id="getActiveStores" resultType="com.erp.dto.StoreDTO">
        select store_no
        from store
        where closed_date is null
    </select>

    <select id="getStoreNoByManager" resultType="long">
        SELECT store_no
        FROM store
        WHERE store_manager_id = #{managerId}
          AND closed_date IS NULL
    </select>

    <select id="countStores" resultType="int">
        select count(*)
        from store
        where store_status = '영업중';
    </select>

    <select id="getStores" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.address,
            m.manager_name,
            s.store_name,
            s.store_status
        from store s
        join manager m
        on s.store_manager_id = m.manager_id
    </select>
    <select id="getStoresByAddress" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.address,
            m.manager_name,
            s.store_name,
            s.store_status
        from store s
        join manager m
        on s.store_manager_id = m.manager_id
        WHERE s.address LIKE CONCAT('%', #{address}, '%')
    </select>
    <select id="getStoresByStoreName" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.address,
            m.manager_name,
            s.store_name,
            s.store_status
        from store s
        join manager m
        on s.store_manager_id = m.manager_id
        WHERE s.store_name LIKE CONCAT('%', #{store_name}, '%')
    </select>
    <select id="getStoresByManagerName" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.address,
            m.manager_name,
            s.store_name,
            s.store_status
        from store s
        join manager m
        on s.store_manager_id = m.manager_id
        WHERE m.manager_name LIKE CONCAT('%', #{manager_name}, '%')
    </select>
    <select id="getStoresByStoreStatus" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.address,
            m.manager_name,
            s.store_name,
            s.store_status
        from store s
                 join manager m
                      on s.store_manager_id = m.manager_id
        WHERE s.store_status = #{store_status}
    </select>
    <select id="getStoreDetail" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.store_name,
            s.store_status,
            s.store_manager_id,
            m.manager_name,
            m.phone_number,
            m.email,
            s.address,
            s.latitude,
            s.longitude,
            s.store_image,
            s.store_phone_number,
            s.opened_date,
            s.closed_date,
            s.open_time,
            s.close_time,
            s.menu_stop_role
        from store s
                 join manager m
                      on s.store_manager_id = m.manager_id
        WHERE s.store_no = #{store_no}
    </select>

    <insert id="addStore" parameterType="com.erp.dto.StoreDTO">
        INSERT INTO store (
            store_manager_id,
            store_status,
            store_name,
            address,
            latitude,
            longitude,
            opened_date,
            closed_date,
            store_phone_number,
            store_image,
            open_time,
            close_time,
            menu_stop_role
        ) VALUES (
                     #{storeManagerId},
                     #{storeStatus},
                     #{storeName},
                     #{address},
                     #{latitude},
                     #{longitude},
                     #{openedDate},
                     #{closedDate},
                     #{storePhoneNumber},
                     #{storeImage},
                     #{openTime},
                     #{closeTime},
                     #{menuStopRole}
                 )
    </insert>

    <update id="setStore" parameterType="com.erp.dto.StoreDTO">
        update store
        set store_status=#{storeStatus},
            address=#{address},
            latitude=#{latitude},
            longitude=#{longitude},
            opened_date=#{openedDate},
            closed_date=#{closedDate},
            store_phone_number=#{storePhoneNumber},
            store_image=#{storeImage},
            open_time=#{openTime},
            close_time=#{closeTime}
        where store_no = #{storeNo};
    </update>

    <update id="setStoreRole" parameterType="com.erp.dto.StoreDTO">
        update store
        set menu_stop_role = #{menuStopRole}
        where store_no = #{storeNo};
    </update>

    <select id="getStoresByAdmin" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.store_manager_id,
            m.email,
            s.store_name,
            s.store_phone_number,
            s.menu_stop_role
        from manager m
        join store s
        on s.store_manager_id = m.manager_id
        where m.role = 'ROLE_STORE'
    </select>

    <select id="getStoresDetailByAdmin" resultType="com.erp.dto.StoreDTO">
        select
            s.store_no,
            s.store_manager_id,
            m.email,
            s.store_name,
            s.store_phone_number,
            s.menu_stop_role
        from manager m
                 join store s
                      on s.store_manager_id = m.manager_id
        where m.role = 'ROLE_STORE'
    </select>
</mapper>