<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/util.js"></script>

  <style>
    body {
      background-color: #fafafa;
    }

    .custom-btn {
      background-color: #FFEEAA !important;
      border-color: #FFEEAA !important;
      color: #000;
    }
    .custom-btn:hover {
      background-color: #f2da84 !important;
      border-color: #f2da84 !important;
    }

    /* 중앙 정렬 + 최대 너비 */
    .page-wrap {
      max-width: 1500px;
      margin: 0 auto;
      background: #fff;
      padding: 20px 30px;
      border-radius: 10px;
      border: 1px solid #ddd;
    }

  </style>
</head>
<body class="p-4">

<div class="page-wrap">

  <h3 class="fw-bold mb-4">직원 수정</h3>

  <div id="formManager">
    <div class="border p-4 rounded">

      <div class="row mb-3">
        <label class="col-2 fw-bold">아이디</label>
        <div class="col-6"><input type="text" class="form-control" disabled value="" id="managerId"></div>
      </div>

      <div class="row mb-3">
        <label class="col-2 fw-bold">비밀번호</label>
        <div class="col-5 d-flex">
          <input type="password" class="form-control me-1" value="" id="managerPw" data-is_avail="false">
          <input type="password" class="form-control" value="" id="managerPwEqual">
        </div>
        <div class="col-2">
          <button class="btn btn-outline-secondary">비밀번호 확인</button>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-2 fw-bold">이름</label>
        <div class="col-4"><input type="text" class="form-control" value="" id="managerName"></div>

      </div>
      <div class="row mb-3">
        <label class="col-2 fw-bold">이메일</label>
        <div class="col-4"><input type="email" class="form-control" value="" id="managerEmail"></div>
      </div>
      <div class="row mb-3">
        <label class="col-2 fw-bold">연락처</label>
        <div class="col-4"><input type="text" class="form-control" value="" id="managerPhone"></div>
      </div>

    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-success custom-btn px-4" id="saveBtn">저장</button>
    <button class="btn btn-light px-4" id="cancelBtn">취소</button>
  </div>
</div>
<script>
  const managerId = location.pathname.split('/').pop();

  function loadInfo(data){
    $("#managerId").val(data.managerId);
    $("#managerName").val(data.managerName);
    $("#managerEmail").val(data.email);
    $("#managerPhone").val(data.phoneNumber);
  }

  $(document).ready(function(){
    fetchUtil("/admin/member/manager/"+managerId, function(data){
      loadInfo(data.manager);
    });
  });

  function checkPw(){
    const pw = $("#managerPw");
    if(pw.val() === $("#managerPwEqual").val()){
      pw.data("is_avail", true);
    }
    else
      pw.data("is_avail", false);
  }

  $(document).on("click", "#saveBtn", ()=>{
    checkPw();
    if(!$("#managerPw").data("is_avail"))
      return;

    const managerId = $("#managerId").val();
    const pw = $("#managerPw").val();
    const managerName = $("#managerName").val();
    const email = $("#managerEmail").val();
    const phoneNumber = $("#managerPhone").val();

    if(isEmpty(pw) || isEmpty(managerName) || isEmpty(email) || isEmpty(phoneNumber))
      return;

    const data = {
      managerId: managerId,
      pw: pw,
      managerName: managerName,
      email: email,
      phoneNumber: phoneNumber
    }

    fetchUtil("/admin/member/manager", function(data){
      if(data.ok)
        location.href = "/admin/memberListUI";
    }, "PUT", data);
  });

  $("#cancelBtn").click(() => {
    history.back()
  });
</script>
</body>
</html>